@model List<Application.Core.Entities.Concrete.User>
  
<div class="content">

    <div class="row" style="margin-left:3%">
        <div style="margin-top:2%;" class="col-8">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">E-posta</th>
                        <th scope="col">Oluşturma</th>
                        <th scope="col">Düzenleme</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <th scope="row">@user.Id</th>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.CreatedDate</td>
                            <td>@user.ModifiedDate</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

